
# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
python-3.12.10-embed-amd64/

# IDEs
.idea/
.vscode/

# Local configuration
config/
*.log
*.tmp

# Distribution / Packaging
dist/
build/
*.spec

# Resources
libmpv-2.dll
